/* MVP.css v1.6.2 - https://github.com/andybrewer/mvp
 * Unused selectors & properties removed, modified & enhanced.
 */

:root {
  --color: #0ab8c7;
  --color-bg: #001f24;
  --color-bg-secondary: #003139;
  --color-secondary: #3bc47c;
  --color-text: #f7f7f7;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --justify-important: left;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 17.5rem;
  --width-card-medium: 25rem;
  --width-content: 55rem;
}

* {box-sizing: border-box;}

/* Layout */
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin: 0;
  overflow-x: hidden;
  padding: 1rem 0;
}

footer,
header,
main {
  margin: 3rem auto;
  max-width: var(--width-content);
  width: 100%;
  padding: 0 1rem;
}

header {margin-top: 2rem;}

main {margin-top: 0;}

footer {
  margin-top: 6rem;
  font-size: 0.9rem;
}

footer p {margin: 0;}

@media screen and (min-width: 40rem) {
  .columns {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    width: 100%;
  }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height);
}

p {
  margin: 0.75rem 0;
  padding: 0;
}

/* Links */
a {
  color: var(--color-secondary);
  display: inline-block;
  text-decoration: underline dotted;
}

a:hover {
  filter: brightness(var(--hover-brightness));
  text-decoration: underline;
}

/* Forms */
form {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  display: block;
  max-width: var(--width-card-medium);
  min-width: var(--width-card);
  padding: 1.5rem;
  text-align: var(--justify-normal);
  background-color: var(--color-bg-secondary);
}

input,
label {
  display: block;
  font-size: inherit;
  max-width: var(--width-card-medium);
}

input {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}
input::placeholder {color: #767676;}
input:focus {outline: 1px solid var(--color-secondary)}

/* form button */
input[type="submit"] {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  color: var(--color-bg);
  font-weight: bold;
  cursor: pointer;
}
input[type="submit"]:hover {filter: brightness(var(--hover-brightness));}
input[type="submit"]:focus {outline-color: var(--color-text);}

/* label */
label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}
/* required star style */
label abbr {
  color: tomato;
  font-size: 0.8rem;
  vertical-align: top;
}


/* Results */
.results {
  --color-score: #349A47; /* Dynamic value */
}
.results_grade {
  font-size: 2.3rem;
  font-weight: 700;
  font-style: normal;
  display: block;
  width: max-content;
}

.score {color: var(--color-score);}
.note {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.3;
  background-color: var(--color-score);
  color: var(--color-letter, #4a4a4a);
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

/* Grade colors, A is default and the only one with white letter */
[data-type="A"] {--color-letter: #fff;}
[data-type="B"] {--color-score: #51B84B;}
[data-type="C"] {--color-score: #CADB2A;}
[data-type="D"] {--color-score: #F6EB15;}
[data-type="E"] {--color-score: #FECD06;}
[data-type="F"] {--color-score: #F99839;}